:root {
    --smooth-white: rgb(230, 255, 254);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Valera Round', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
h1 {
    font-size: 30px;
}
body {
    background: linear-gradient(
        100deg,
        rgb(166, 255, 166),
        rgb(150, 104, 210)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100dvh;
}
header {
    width: 100%;
    height: 100px;
    box-shadow: 5px 5px 12px 5px white;
    text-align: center;
    padding-top: 20px;
}header a {
    color: var(--smooth-white);
    font-size: 40px;
}


.card {
    width: 340px;
    height: 450px;
    background-color: white;
    display: block;
    position: relative;
    border-radius: 4px;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    border: 2px solid rgb(240, 231, 251);
}
.about-me {
    width: 100%;
    height: 350px;
    background-color: rgb(132, 73, 210);
    border-top-left-radius: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.profile {
    width: 230px;
    height: 65px;
    text-align: left;
    color: var(--smooth-white);
}
.username {
    font-size: 24px;
}
.age, .gender, .small-txt {
    font-size: 16px;
}

.more {
    width: 100%;
    height: 255px;
    background-color: rgb(128, 65, 211);
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.socials {
    width: 150px;
    height: 130px;
    background-color: rgb(255, 255, 255);
    padding: 4px;
    border-top-right-radius: 12px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 12px;
}

.social-box {
    width: 140px;
    height: 35px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: black;
    margin: 5px 0px;
}
.social-content {
    width: 120px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.social-icn {
    width: 45px;
    height: 50px;
}
.me-link {
    color: rgb(0, 0, 0);
}

.description-wrapper {
    text-align: center;
    color: var(--smooth-white);
    width: 190px;
    height: 255px;
}
.description-heading {
    padding-top: 5px;
}
.description-content {
    text-align: center;
    line-height: 24px;
    font-weight: 550;
    font-size: 15px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.103);
}
.footer-list {
    width: 500px;
    height: 50px;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.footer-lists {
    border: none;
    border-right: 2px solid white;
    border-left: 2px solid white;
    width: 150px;
    text-align: center;
}.footer-lists a {
    color: var(--smooth-white);
}.footer-lists a:hover {
    cursor: pointer;
    text-decoration: underline;
}