*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panel {
    width: 400px;
    height: 500px;
    background-color: rgb(16, 16, 16);
}
.panel-top {
    width: 100%;
    height: 100px;
    text-align: center;
}
.panel-heading {
    color: white;
    padding: 4px 0px;
}
.input-style {
    width: 350px;
    height: 36px;
    margin: 5px 0px;
    padding: 0px 4px;
    border: none;
    background-color: rgb(32, 32, 32);
    color: white;
    outline: none;
}.input-style::placeholder {
    font-size: 14px;
    color: rgb(209, 209, 209);
}

.colours {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-styles {
    margin: 0px 5px;
    width: 120px;
    height: 32px;
    border: 1px solid black;
    color: white;
    transition: .44s;
}
.clr-red {
    background-color: red;
}
.clr-green {
    background-color: green;
}
.clr-blue {
    background-color: rgb(0, 72, 255);
}
.btn-styles:hover {
    cursor: pointer;
    scale: 1.05;
}
.results-wrapper {
    width: 100%;
    height: 330px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.results-list {
    width: 350px;
    min-height: 50px;
    max-height: 250px;
    background-color: rgb(10, 10, 10);
    list-style-type: none;
    padding: 10px;
    line-height: 24px;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}
/* LIST STYLES */
.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: rgb(0, 72, 255);
}

/* MEDIA */
@media (width < 400px) {
    .panel {
        width: 350px;
    }
    .input-style {
        width: 300px;
    }
    .btn-styles {
        width: 100px;
    }
}
@media (width < 350px) {
    .panel, .results-wrapper, .results-list, .colours, .panel-top {
        width: 320px;
    }
} 

@media (width < 320px) {
    .panel, .results-wrapper, .panel-top, .colours {
        width: 250px;
    }
    .results-list, .input-style {
        width: 220px;
    }
}

@media (width < 250px) {
    .panel, .results-wrapper, .panel-top, .colours {
        width: 220px;
    }
    .results-list, .input-style {
        width: 200px;
    }
}
@media (width < 220px) {
    .panel, .results-wrapper, .panel-top, .colours {
        width: 200px;
    }
    .results-list, .input-style {
        width: 180px;
    }
    .panel-title {
        font-size: 18px;
    }
}